:root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-red-50: oklch(97.1% .013 17.38);
    --color-red-100: oklch(93.6% .032 17.717);
    --color-red-500: oklch(63.7% .237 25.331);
    --color-red-600: oklch(57.7% .245 27.325);
    --color-orange-500: oklch(70.5% .213 47.604);
    --color-amber-300: oklch(87.9% .169 91.605);
    --color-yellow-100: oklch(97.3% .071 103.193);
    --color-yellow-200: oklch(94.5% .129 101.54);
    --color-yellow-300: oklch(90.5% .182 98.111);
    --color-yellow-400: oklch(85.2% .199 91.936);
    --color-green-100: oklch(96.2% .044 156.743);
    --color-green-300: oklch(87.1% .15 154.449);
    --color-green-500: oklch(72.3% .219 149.579);
    --color-blue-50: oklch(97% .014 254.604);
    --color-blue-100: oklch(93.2% .032 255.585);
    --color-blue-300: oklch(80.9% .105 251.813);
    --color-blue-500: oklch(62.3% .214 259.815);
    --color-blue-600: oklch(54.6% .245 262.881);
    --color-purple-50: oklch(97.7% .014 308.299);
    --color-purple-100: oklch(94.6% .033 307.174);
    --color-purple-300: oklch(82.7% .119 306.383);
    --color-purple-500: oklch(62.7% .265 303.9);
    --color-purple-600: oklch(55.8% .288 302.321);
    --color-pink-100: oklch(94.8% .028 342.258);
    --color-pink-300: oklch(82.3% .12 346.018);
    --color-pink-600: oklch(59.2% .249 .584);
    --color-gray-300: oklch(87.2% .01 258.338);
    --color-neutral-50: oklch(98.5% 0 0);
    --color-neutral-100: oklch(97% 0 0);
    --color-neutral-400: oklch(70.8% 0 0);
    --color-neutral-600: oklch(43.9% 0 0);
    --color-black: #000;
    --color-white: #fff;
    --spacing: .25rem;
    --container-7xl: 80rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1 / .75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: 1.2;
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --leading-tight: 1.25;
    --leading-relaxed: 1.625;
    --radius-2xl: 1rem;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --color-brand-orange: #ff7a50;
    --color-brand-yellow: #ffd15b;
    --color-brand-text: #111;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
}
a , span {
    display: inline-block;
}
a{
    text-decoration: none;
}
.a-hover:hover{
    color: var(--color-orange-500);
}
ul li {
    list-style: none;
}
img{
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;
    padding: 100px;
    margin: auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
/* ////////////////// */
.color-white{
    color: var(--color-white);
}
.color-black{
    color: var(--color-black);
}
.color-bule{
    color: var(--color-blue-600);
}
.color-bule-500{
    color: var(--color-blue-500);
}
.color-red{
    color: var(--color-red-600);
}
.color-red-500{
    color: var(--color-red-500);
}
.color-purple-500{
    color: var(--color-purple-500);
}
.color-gray{
    color: var(--color-gray-300);
}
.color-neutral{
    color: var(--color-neutral-600);
}
.color-orange{
    color: var(--color-orange-500);
}
/* ////////////////////////////////// */
.bg-black{
    background-color: #000;
}
.bg-white{
    background-color: white;
}
.bg-red{
    background-color:var(--color-red-500);
}
.bg-yellow{
    background-color:var(--color-yellow-400);
}
.bg-yellow-100{
    background-color:var(--color-yellow-100);
}
.bg-yellow-300{
    background-color:var(--color-yellow-300);
}
.bg-green-300{
    background-color:var(--color-green-300);
}
.bg-green-100{
    background-color:var(--color-green-100);
}
.bg-blue-500{
    background-color:var(--color-blue-500);
}
.bg-blue-100{
    background-color:var(--color-blue-100);
}
.bg-purple-500{
    background-color:var(--color-purple-500);
}
.bg-purple-100{
    background-color:var(--color-purple-100);
}
.bg-pink-300{
    background-color:var(--color-pink-300);
}
.bg-pink-100{
    background-color:var(--color-pink-100);
}
.bg-amber-300{
    background-color: var(--color-amber-300);
}
/* ///////// */
.fs-h1{
    font-size:5rem;
}
.fw-700{
    font-weight: 700;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-900{
    font-weight: 900;
}
.text-upper{
text-transform: uppercase;
}
.text-xl{
font-size: var(--text-xl);
line-height: var(--text-xl--line-height);
}
.text-lg{
font-size: var(--text-lg);
line-height: var(--text-lg--line-height);
}
.text-2xl{
font-size: var(--text-2xl);
line-height: var(--text-2xl--line-heightt);
}
.text-3xl{
font-size: var(--text-3xl);
line-height: var(--text-3xl--line-height);
}
.text-4xl{
font-size: var(--text-4xl);
line-height: var(--text-4xl--line-height);
}
.text-5xl{
font-size: var(--text-5xl);
line-height: var(--text-5xl--line-height);
}
.text-xs{
font-size: var(--text-xs);
line-height: var(--text-xs--line-height);
}
.text-center{
    text-align: center;
}
/* ///////////////////////////////// */
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.flex-column{
    flex-direction: column;
}
/* ///////////////// */
.object-cover{
    object-fit:cover;
}
.box-shado{
    box-shadow: 6px 6px #000;
}
.box-shadow-3{
    box-shadow: 3px 3px #000;
}
.border-2{
    border: 2px solid #000;
}
.border-4{
    border: 4px solid #000;
}
.border-radius{
    border-radius: 20px;
}
/* ////////////////// */
.postrelative{
    position: relative;
}
.postabslot{
    position: absolute;
}

/* ///////////////////////// */
.h-96{
    height: calc(var(--spacing) * 96);
}
.h-32{
    height: calc(var(--spacing) * 32);
}
.w-32{
    width: calc(var(--spacing) * 32);
}
.h-100{
    height: 100%;
}
.h-8{
    height:8rem;
}
.w-100{
    width: 100%;
}
.w-3{
    width: calc(100% / 3);
}
.w-66{
    width:66%;
}
.w-34{
    width:20%;
}
.w-10{
    width:10rem;
}
.padd-y{
    padding: 0 5px ;
 }
.padd-y-10{
    padding: 0 10px ;
 }
.padd-5{
    padding:  5px 9px ;
 }
.padd-10{
    padding:  10px ;
 }
.padd-2{
    padding:  2rem ;
 }
.padd-1{
    padding:  1rem ;
 }
.padd-left{
    padding:  .5rem;
 }
.padd-20{
    padding:  20px ;
 }
 .mb-4{
margin-bottom: 1rem;
 }
 .mb-5{
margin-bottom: 1.25rem;
 }
 .mb-6{
margin-bottom: 2rem;
 }
 .mb-3{
margin-bottom: .7rem;
 }
 .mb-2{
margin-bottom: .5rem;
 }
 .mr-2{
    margin-right: 0.5rem;
 }
 .ml-2{
    margin-left: 2rem;
 }
 .margin-auto{
    margin:auto;
 }
/* //////////////////////////// */
.rotate-12{
    rotate: 12deg;
}
.rotate-21{
    rotate: -12deg;
}
.rotate-2{
    rotate: -2deg;
}
.rotate-1{
    rotate: -1deg;
}
.rotate-11{
    rotate: 1deg;
}
.rotate-22{
    rotate: 2deg;
}
.rotate-45{
    rotate: 45deg;
}
/* //////////////////// */
.hero {
    background-color: var(--color-yellow-200);
    height: 90vh;
    display: flex;
}
.hero-container{
    padding: 2rem ;
    width: 50%;
}
.hero .hero-image{
    rotate: 2deg;
}
.hero .hero-image:hover{
    transform: translate(-2px , -2px);
}
.trending-box .trending{
 padding:13px 0 ;
 width: 20%;
 text-align: center;

}
.trending-box{
    padding: 1rem 0;
}

.hero-container h1 span{
     text-shadow: 3px 5px 0 black;
     padding-right: 5rem;
} 
.hero-box{
    background-color: #fff;
    padding: 1rem ;
    font-size: 25px;
    width: 75%;
}
.button-hero{
    padding: 10px 0;
}
.hero button {
    padding: 15px 30px;
        transition: transform 0.3s ease-out;
}
.hero button:hover{
    transform: translate(3px, 3px);
}
.featured{
    right: -1rem;
    top: -1rem;
    padding: .8rem;
}
 /* /////////////////////////////// */
 nav{
    margin: 20px;
 }
 .nav-bar{
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    padding: 10px;
    border-radius: 15px;
    max-width: 80rem;
    margin: auto;
    z-index: 10;
 }
 .nav-title{
    font-size: 30px;
 }
/* //////////////////// */
.cards .card-img img {
    width: 100%;
}
.tech{
    width: 7%;
}
.desing{
    width: 8%;
}
.culture{
    width: 9%;
}
.new{
    right: -0.5rem;
    top: -0.5rem;
    padding: .25rem .5rem;
}

.card:hover {
            transform: translate(-3px, -3px);
    transition: transform 0.3s ease-in-out;
}
.card-1 h2:hover{
    color: red;
}
.color-red-hover:hover{
  color: var(--color-red-600);
}
.color-blue-hover:hover{
  color: var(--color-blue-600);
}
.color-purple-hover:hover{
  color: var(--color-purple-600);
}
.hover-bg-yellow:hover{
    transform: translate( -2px , -2px);
    background-color: var(--color-yellow-300);
}
.hover-bg-green:hover{
    transform: translate( -2px , -2px);
    background-color: var(--color-green-300);
}
.hover-bg-pink:hover{
    transform: translate( -2px , -2px);
    background-color: var(--color-pink-300);
}
.hover-bg-blue:hover{
    transform: translate( -2px , -2px);
    background-color: var(--color-blue-300);
}
.hover-bg-purple:hover{
    transform: translate( -2px , -2px);
    background-color: var(--color-purple-300);
}
.latest button {
        transition: transform 0.3s ease-out;
}
.latest button:hover{
    transform: translate(3px, 3px);
}
/* //////////////////////////////// */
.line{
    width: 8rem;
    height: .5rem;
    margin: auto;
}
.founder{
    right: -0.5rem;
    top: -0.5rem;
}